<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/img/logo-50.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Tổng quan<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/products">Sản phẩm</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bill">Hóa đơn</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/customer">Khách hàng</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/supplier">Nhà cung cấp</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/statistic">Thống kê</a>
                </li>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/products/create">Đăng sản phẩm</a>
                        <a class="dropdown-item" href="/me/stored/products">Quản lý sản phẩm</a>
                        <a class="dropdown-item" href="/bill">Đơn hàng</a>
                        <a class="dropdown-item" href="/customer">Khách hàng</a>
                        <a class="dropdown-item" href="/supplier">Nhà cung cấp</a>
                        <a class="dropdown-item" href="/statistic">Thống kế</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Đăng xuất</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>